<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Information</h1>
    </div>
  </div>
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Profile
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-6 col-md-3 col-lg-4">
            <div class="panel panel-default">
              <%= image_tag avatar_url(current_user) %>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-8">
              <table class="table table-user-information">
              <tbody>
              <tr>
              </tr>
              <tr>
                <td>Joined</td>
                <td><%= current_user.created_at %></td>
              </tr>
              <tr>
                <td>Name</td>
                <td><%= current_user.name %></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><%= current_user.email %></td>
              </tr>
              <tr>
                <td>Home Address</td>
                <td><%= current_user.address %></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>